In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Load logon.csv (use nrows to test if it's huge)
logon_file = "../data_raw/r1/logon.csv"
df_logon = pd.read_csv(logon_file, nrows=50000)

# Peek at the first rows
df_logon.head()

,id,date,user,pc,activity
0,{Y6O4-A7KC67IN-0899AOZK},01/04/2010 00:10:37,DTAA/KEE0997,PC-1914,Logon
1,{O5Y6-O7CJ02JC-6704RWBS},01/04/2010 00:52:16,DTAA/KEE0997,PC-1914,Logoff
2,{D2D1-C6EB14QJ-2100RSZO},01/04/2010 01:17:20,DTAA/KEE0997,PC-3363,Logon
3,{H9W1-X0MC70BT-6065RPAT},01/04/2010 01:28:34,DTAA/KEE0997,PC-3363,Logoff
4,{H3H4-S5AZ00AZ-9560IYHC},01/04/2010 01:57:30,DTAA/BJM0992,PC-3058,Logon

In [4]:
df_logon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        50000 non-null  object
 1   date      50000 non-null  object
 2   user      50000 non-null  object
 3   pc        50000 non-null  object
 4   activity  50000 non-null  object
dtypes: object(5)
memory usage: 1.9+ MB

In [5]:
df_logon.describe(include='all')

,id,date,user,pc,activity
count,50000,50000,50000,50000,50000
unique,50000,47804,1000,1100,2
top,{Y6O4-A7KC67IN-0899AOZK},01/25/2010 07:52:50,DTAA/CGM0994,PC-4031,Logon
freq,1,4,333,70,28154

### Logon File Findings

- File: logon.csv
- Columns found: id, date, user, pc, activity
- Total rows: 50,000 (sampled with nrows)
- Nulls: None â€” all key fields are non-null
- Merge key: user
- Notes: timestamp column (`date`) format looks consistent; activities are Logon/Logoff only.