In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load device.csv (use nrows if huge)
device_file = "../data_raw/r1/device.csv"
df_device = pd.read_csv(device_file, nrows=50000)

# Peek at the first rows
df_device.head()

,id,date,user,pc,activity
0,{S7A7-Y8QZ65MW-8738SAZP},01/04/2010 07:12:31,DTAA/RES0962,PC-3736,Connect
1,{G7A8-G1OB94NR-3006NTXH},01/04/2010 07:35:40,DTAA/BJC0569,PC-2588,Connect
2,{R3L8-N0LW95FR-8358LLXS},01/04/2010 08:00:38,DTAA/EMZ0196,PC-1479,Connect
3,{I2F1-B5FB51FL-3128HBUL},01/04/2010 08:02:14,DTAA/ZKH0388,PC-1021,Connect
4,{P7R6-C5TV18CT-1677DWWM},01/04/2010 08:20:17,DTAA/RES0962,PC-3736,Disconnect

In [3]:
df_device.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        50000 non-null  object
 1   date      50000 non-null  object
 2   user      50000 non-null  object
 3   pc        50000 non-null  object
 4   activity  50000 non-null  object
dtypes: object(5)
memory usage: 1.9+ MB

In [4]:
df_device.describe(include='all')

,id,date,user,pc,activity
count,50000,50000,50000,50000,50000
unique,50000,49894,228,228,2
top,{S7A7-Y8QZ65MW-8738SAZP},01/21/2010 15:03:26,DTAA/AMA0191,PC-4736,Connect
freq,1,3,515,515,26297

### Device File Findings

- File: device.csv
- Columns found: id, date, user, pc, device_type, activity
- Total rows: 50,000 (sampled with nrows)
- Nulls: None in user_id or date
- Merge key: user_id
- Notes: timestamp looks consistent; device_type has expected values.