In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load http.csv (use nrows if huge)
http_file = "../data_raw/r1/http.csv"
df_http = pd.read_csv(http_file, nrows=50000)

# Peek at the first rows
df_http.head()

,{M8H9-W9NL75TH-1322KOLO},01/04/2010 07:08:47,DTAA/AMA0606,PC-1514,http://cnet.com
0,{V0E1-R0FE91SC-2381GTDZ},01/04/2010 07:35:19,DTAA/DBM0698,PC-1444,http://force.open.com
1,{V7C8-H6KA39YG-3352HMOW},01/04/2010 07:40:40,DTAA/HBF0035,PC-0991,http://tendencystem.org
2,{O9P7-D9DL54YQ-9903OMYE},01/04/2010 07:52:25,DTAA/SVC0175,PC-3384,http://bent.cup.org
3,{L3J0-E4RF05KN-7341OQVW},01/04/2010 07:55:50,DTAA/CMU0028,PC-4253,http://taxpotato.east.org
4,{V8F5-V1YW04ID-3094EHZZ},01/04/2010 07:59:54,DTAA/BML0618,PC-0659,http://go.com

In [3]:
df_http.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   {M8H9-W9NL75TH-1322KOLO}  50000 non-null  object
 1   01/04/2010 07:08:47       50000 non-null  object
 2   DTAA/AMA0606              50000 non-null  object
 3   PC-1514                   50000 non-null  object
 4   http://cnet.com           50000 non-null  object
dtypes: object(5)
memory usage: 1.9+ MB

In [4]:
df_http.describe(include='all')

,{M8H9-W9NL75TH-1322KOLO},01/04/2010 07:08:47,DTAA/AMA0606,PC-1514,http://cnet.com
count,50000,50000,50000,50000,50000
unique,50000,36816,1000,1046,7914
top,{V0E1-R0FE91SC-2381GTDZ},01/07/2010 14:31:43,DTAA/ABS0726,PC-3698,http://google.com
freq,1,11,370,370,11630

### HTTP File Findings

- File: http.csv
- Columns found: id, date, user, url, activity
- Total rows: 50,000 (sampled)
- Nulls: None in user or date columns
- Merge key: user_id
- Notes: URLs look valid; timestamp format consistent.