In [1]:
import pandas as pd
import glob

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Locate all LDAP monthly files
ldap_files = glob.glob("../data_raw/r1/LDAP/*.csv")
print(f"Found {len(ldap_files)} LDAP files.")
ldap_files

Found 18 LDAP files.

['../data_raw/r1/LDAP/2010-01.csv',
 '../data_raw/r1/LDAP/2010-02.csv',
 '../data_raw/r1/LDAP/2010-03.csv',
 '../data_raw/r1/LDAP/2010-07.csv',
 '../data_raw/r1/LDAP/2010-12.csv',
 '../data_raw/r1/LDAP/2010-06.csv',
 '../data_raw/r1/LDAP/2010-10.csv',
 '../data_raw/r1/LDAP/2010-04.csv',
 '../data_raw/r1/LDAP/2010-05.csv',
 '../data_raw/r1/LDAP/2010-11.csv',
 '../data_raw/r1/LDAP/2010-08.csv',
 '../data_raw/r1/LDAP/2010-09.csv',
 '../data_raw/r1/LDAP/2009-12.csv',
 '../data_raw/r1/LDAP/2011-03.csv',
 '../data_raw/r1/LDAP/2011-02.csv',
 '../data_raw/r1/LDAP/2011-01.csv',
 '../data_raw/r1/LDAP/2011-05.csv',
 '../data_raw/r1/LDAP/2011-04.csv']

In [4]:
# Load and combine them
df_list = [pd.read_csv(f) for f in ldap_files]
ldap_merged = pd.concat(df_list, ignore_index=True)

# Drop exact duplicates just in case
ldap_merged = ldap_merged.drop_duplicates()

# Peek
ldap_merged.info()
ldap_merged.head()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 0 to 12356
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   employee_name  1000 non-null   object
 1   user_id        1000 non-null   object
 2   Domain         1000 non-null   object
 3   Email          1000 non-null   object
 4   Role           1000 non-null   object
dtypes: object(5)
memory usage: 46.9+ KB

,employee_name,user_id,Domain,Email,Role
0,Burton M Stephenson,BMS0001,dtaa.com,Burton.M.Stephenson@dtaa.com,Security
1,Keelie M Goodwin,KMG0002,dtaa.com,Keelie.M.Goodwin@dtaa.com,Engineer
2,Dara O Craig,DOC0003,dtaa.com,Dara.O.Craig@dtaa.com,VP
3,Blossom T Hale,BTH0004,dtaa.com,Blossom.T.Hale@dtaa.com,Technician
4,Yeo C Bennett,YCB0005,dtaa.com,Yeo.C.Bennett@dtaa.com,Engineer

In [5]:
# Save cleaned LDAP
ldap_merged.to_csv("../data_processed/ldap_cleaned.csv", index=False)
print("LDAP cleaned file saved!")

LDAP cleaned file saved!

In [6]:
# Load logon.csv
df_logon = pd.read_csv("../data_raw/r1/logon.csv")

# Parse timestamps
df_logon['date'] = pd.to_datetime(df_logon['date'], errors='coerce')

# Drop rows where date parsing failed
df_logon = df_logon.dropna(subset=['date'])

# Verify
df_logon.info()
df_logon.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 849579 entries, 0 to 849578
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        849579 non-null  object
 1   date      849579 non-null  datetime64[ns]
 2   user      849579 non-null  object
 3   pc        849579 non-null  object
 4   activity  849579 non-null  object
dtypes: datetime64[ns](1), object(4)
memory usage: 32.4+ MB

,id,date,user,pc,activity
0,{Y6O4-A7KC67IN-0899AOZK},2010-01-04 00:10:37,DTAA/KEE0997,PC-1914,Logon
1,{O5Y6-O7CJ02JC-6704RWBS},2010-01-04 00:52:16,DTAA/KEE0997,PC-1914,Logoff
2,{D2D1-C6EB14QJ-2100RSZO},2010-01-04 01:17:20,DTAA/KEE0997,PC-3363,Logon
3,{H9W1-X0MC70BT-6065RPAT},2010-01-04 01:28:34,DTAA/KEE0997,PC-3363,Logoff
4,{H3H4-S5AZ00AZ-9560IYHC},2010-01-04 01:57:30,DTAA/BJM0992,PC-3058,Logon

In [7]:
# Save cleaned logon
df_logon.to_csv("../data_processed/logon_cleaned.csv", index=False)
print("Logon cleaned file saved!")

Logon cleaned file saved!

In [8]:
df_device = pd.read_csv("../data_raw/r1/device.csv")
df_device['date'] = pd.to_datetime(df_device['date'], errors='coerce')
df_device = df_device.dropna(subset=['date'])
df_device.info()
df_device.to_csv("../data_processed/device_cleaned.csv", index=False)
print("Device cleaned file saved!")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65668 entries, 0 to 65667
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        65668 non-null  object
 1   date      65668 non-null  datetime64[ns]
 2   user      65668 non-null  object
 3   pc        65668 non-null  object
 4   activity  65668 non-null  object
dtypes: datetime64[ns](1), object(4)
memory usage: 2.5+ MB
Device cleaned file saved!

In [9]:
df_http = pd.read_csv("../data_raw/r1/http.csv")
df_http['date'] = pd.to_datetime(df_http['date'], errors='coerce')
df_http = df_http.dropna(subset=['date'])
df_http.info()
df_http.to_csv("../data_processed/http_cleaned.csv", index=False)
print("HTTP cleaned file saved!")

KeyError: 'date'

In [10]:
print(df_http.columns)

Index(['{M8H9-W9NL75TH-1322KOLO}', '01/04/2010 07:08:47', 'DTAA/AMA0606',
       'PC-1514', 'http://cnet.com'],
      dtype='object')

In [11]:
df_http = pd.read_csv("../data_raw/r1/http.csv", header=None)
df_http.head()

,0,1,2,3,4
0,{M8H9-W9NL75TH-1322KOLO},01/04/2010 07:08:47,DTAA/AMA0606,PC-1514,http://cnet.com
1,{V0E1-R0FE91SC-2381GTDZ},01/04/2010 07:35:19,DTAA/DBM0698,PC-1444,http://force.open.com
2,{V7C8-H6KA39YG-3352HMOW},01/04/2010 07:40:40,DTAA/HBF0035,PC-0991,http://tendencystem.org
3,{O9P7-D9DL54YQ-9903OMYE},01/04/2010 07:52:25,DTAA/SVC0175,PC-3384,http://bent.cup.org
4,{L3J0-E4RF05KN-7341OQVW},01/04/2010 07:55:50,DTAA/CMU0028,PC-4253,http://taxpotato.east.org

In [12]:
df_http.columns = ['id', 'date', 'user', 'pc', 'url']

In [13]:
df_http['date'] = pd.to_datetime(df_http['date'], errors='coerce')
df_http = df_http.dropna(subset=['date'])
df_http.info()

# Save cleaned version
df_http.to_csv("../data_processed/http_cleaned.csv", index=False)
print("HTTP cleaned file saved!")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3451665 entries, 0 to 3451664
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   id      object
 1   date    datetime64[ns]
 2   user    object
 3   pc      object
 4   url     object
dtypes: datetime64[ns](1), object(4)
memory usage: 131.7+ MB
HTTP cleaned file saved!

### Data Cleaning Summary

- Merged 18 LDAP monthly files → `ldap_cleaned.csv`
- Parsed timestamps in logon.csv → `logon_cleaned.csv`
- Parsed timestamps in device.csv → `device_cleaned.csv`
- Fixed missing header, parsed timestamps in http.csv → `http_cleaned.csv`
- Dropped rows with invalid dates where needed
- All cleaned outputs saved in `/data_processed/` for EDA & dashboard